h1 {
  text-align: center;
  font-family: 'Raleway', serif;
  font-size: 60px;
  color: yellow;
}

h2 {
  text-align: center;
  font-family: 'Raleway', serif;
  font-size: 30px;
  color: yellow;
}

body {
  background-image: url(http://www.espn.com/photo/2016/0125/012_Surf_JAWS.JPG);

}

p {
  font-family: 'Dosis', serif;
  font-size: 20px;
  color: yellow;
  margin-left: 100px;
  margin-right: 100px;

}